# Processing Hanja

## Importing Libraries

In [1]:
##### This really depends for every computer, so please be caerful with the instalation
##!pip install konlpy
import pandas as pd
from konlpy.tag import Kkma, Hannanum, Komoran
from konlpy.utils import pprint
kkma = Kkma()
hannanum = Hannanum()
komoran = Komoran()
pprint(kkma.sentences(u'네, 안녕하세요. 반갑습니다.'))

['네, 안녕하세요.', '반갑습니다.']

In [2]:
#This is an example about how knply library works.
#The library clasiffies a text word by word analizyng what the word is
pprint(kkma.pos(u'오류보고는 실행환경, 에러메세지와함께 설명을 최대한상세히!^^'))

[('오류', 'NNG'),
 ('보고', 'NNG'),
 ('는', 'JX'),
 ('실행', 'NNG'),
 ('환경', 'NNG'),
 (',', 'SP'),
 ('에러', 'NNG'),
 ('메세지', 'NNG'),
 ('와', 'JKM'),
 ('함께', 'MAG'),
 ('설명', 'NNG'),
 ('을', 'JKO'),
 ('최대한', 'NNG'),
 ('상세히', 'MAG'),
 ('!', 'SF'),
 ('^^', 'EMO')]

In [3]:
#this examples prints all the nouns found in the text
pprint(kkma.nouns(u'질문이나 건의사항은 깃헙 이슈 트래커에 남겨주세요.'))

['질문', '건의', '건의사항', '사항', '깃헙', '이슈', '트래커']

In [4]:
#this examples prints all the sentences
pprint(kkma.sentences(u'질문이나 건의사항은 깃헙 이슈 트래커에 남겨주세요.'))

['질문이나 건의사항은 깃헙 이슈 트래커에 남겨 주세요.']

In [10]:
## those are all the attributes
print(dir(kkma))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'jki', 'morphs', 'nouns', 'pos', 'sentences', 'tagset']

## hanja analazyng / 한자 분석하기

In [21]:
df_hanjas = pd.read_csv("hanjas.csv")

In [22]:
df_hanjas.head(10)

,hanja한자,strokes총획수,sound장단음,meaningKr_1,meaningKr_2,sound長短音,JLPT,meaningEsp_1,meaningEsp_2
0,含,7.0,머금을 함,머금다,품다,ふく.む,2.0,guardar,encubar
1,血,6.0,피 혈,피,물들이다,ち,3.0,sangre,teñir
2,噴,15.0,뿜을 분,뿜다,꾸짖다,ふ.く,1.0,exhalar,reprender
3,人,2.0,사람 인,사람,인간,ひと,5.0,persona,humano
4,先,6.0,먼저 선,먼저,이전,さき,5.0,primero,tranferencia
5,汚,6.0,더러울 오,더럽다,나쁘다,きたな,2.0,ensuciarse,malo
6,其,8.0,그 기,그,만약,それ,5.0,eso,si
7,口,3.0,입 구,입,어귀,くち,4.0,boca,entrada
8,海,10.0,바다 해,바다,바닷 물,うみ,4.0,mar,agua de mar
9,不,4.0,아닐 부,아니다,아니하다,ふ,4.0,no,negarse

In [23]:
kkma.pos(str(df_hanjas['meaningKr_1'][:]))

[('0', 'NR'),
 ('머금', 'VV'),
 ('다', 'ECS'),
 ('1', 'NR'),
 ('피', 'NNG'),
 ('2', 'NR'),
 ('뿜', 'VV'),
 ('다', 'ECS'),
 ('3', 'NR'),
 ('사람', 'NNG'),
 ('4', 'NR'),
 ('먼저', 'MAG'),
 ('...', 'SE'),
 ('100', 'NR'),
 ('꺼지', 'VV'),
 ('ㄹ', 'ETD'),
 ('101', 'NR'),
 ('몸', 'NNG'),
 ('102', 'NR'),
 ('도', 'NNG'),
 ('끼', 'NNG'),
 ('103', 'NR'),
 ('잇', 'VA'),
 ('기', 'ETN'),
 ('104', 'NR'),
 ('NaN', 'OL'),
 ('Name', 'OL'),
 (':', 'SP'),
 ('meaningKr', 'OL'),
 ('_', 'SW'),
 ('1', 'NR'),
 (',', 'SP'),
 ('Length', 'OL'),
 (':', 'SP'),
 ('105', 'NR'),
 (',', 'SP'),
 ('dtype', 'OL'),
 (':', 'SP'),
 ('object', 'OL')]

In [24]:
pprint(kkma.pos(str(df_hanjas['meaningKr_1'][0])))

[('머금', 'VV'), ('다', 'EFN')]

In [25]:
df_hanjas['strokes총획수'].mean()

9.596153846153847

In [26]:
df_hanjas['strokes총획수'].max()

24.0

In [27]:
df_hanjas['strokes총획수'].min()

2.0

In [28]:
df_hanjas['JLPT'].mean()

2.894230769230769

In [29]:
df_hanjas[['A', 'B']] = df_hanjas['sound장단음'].str.split(' ', 1, expand=True)

In [30]:
lst_indexes = ['부','모']
 
 
rows = df_hanjas[df_hanjas['B'].isin(lst_indexes)]
print(rows)

    hanja한자  strokes총획수 sound장단음 meaningKr_1 meaningKr_2 sound長短音  JLPT  \
9         不         4.0     아닐 부         아니다        아니하다        ふ   4.0
31        膚        15.0     살갗 부          살갗         겉껍질       はだ   2.0
35        母         5.0    어머니 모         어머니         NaN       はは   5.0
102       斧         8.0     도끼 부          도끼         NaN        フ   3.0

    meaningEsp_1   meaningEsp_2    A  B
9             no        negarse   아닐  부
31         piel   piel exterior   살갗  부
35         madre            NaN  어머니  모
102        hacha            NaN   도끼  부

In [31]:
df_hanjas['장단음']=None
df_hanjas

,hanja한자,strokes총획수,sound장단음,meaningKr_1,meaningKr_2,sound長短音,JLPT,meaningEsp_1,meaningEsp_2,A,B,장단음
0,含,7.0,머금을 함,머금다,품다,ふく.む,2.0,guardar,encubar,머금을,함,None
1,血,6.0,피 혈,피,물들이다,ち,3.0,sangre,teñir,피,혈,None
2,噴,15.0,뿜을 분,뿜다,꾸짖다,ふ.く,1.0,exhalar,reprender,뿜을,분,None
3,人,2.0,사람 인,사람,인간,ひと,5.0,persona,humano,사람,인,None
4,先,6.0,먼저 선,먼저,이전,さき,5.0,primero,tranferencia,먼저,선,None
...,...,...,...,...,...,...,...,...,...,...,...,...
100,滅,13.0,"꺼질 멸, 멸할 멸",꺼질,멸할,メツ,1.0,ruina,NaN,꺼질,"멸, 멸할 멸",None
101,身,7.0,몸 신,몸,NaN,シン,3.0,cuerpo,NaN,몸,신,None
102,斧,8.0,도끼 부,도끼,NaN,フ,3.0,hacha,NaN,도끼,부,None
103,也,3.0,잇기 야,잇기,어조사,ヤ,1.0,ser,NaN,잇기,야,None
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

## topik practice test analazyng / 토픽 연습 분석하기

In [33]:
df_topik = pd.read_csv("topik_study.csv")

In [34]:
df_topik.head(10)

   question  option                        answer
0         4       1              그 친구가 사과할지도 몰라요.
1         4       2            다시 만날 수 있읗 텐데요. 뭐.
2         4       3           먼저 미안하고 해 보는 게 어때요?
3         4       4        전 언제든지 괜찮아요. 제가 도와줄게요.
4         5       1              우선 박물관부터 들러 보세요.
5         5       2          한국의 전통을 이해하는 게 중요하죠.
6         5       3        그럼 전주 같은 도시에 가 보지 그래요?
7         5       4  그래도 경주에 가면 한국 역사를 배울 수 있잖아요.
8         6       1             그래. 오늘 갑값은 내가 낼게.
9         6       2           괜찮아. 다음에는 네가 사면 되지.

In [36]:
kkma.pos(str(pprint(kkma.sentences(str(df_topik['answer'][1])))[:]))

[('0', 'NR'),
 ('그', 'MDT'),
 ('친구', 'NNG'),
 ('가', 'JKS'),
 ('사과', 'NNG'),
 ('하', 'XSV'),
 ('ㄹ지', 'ECD'),
 ('도', 'JX'),
 ('모르', 'VV'),
 ('아요', 'EFN'),
 ('.', 'SF'),
 ('1', 'NR'),
 ('다시', 'NNG'),
 ('만나', 'VV'),
 ('ㄹ', 'ETD'),
 ('수', 'NNB'),
 ('있읗', 'UN'),
 ('터', 'NNB'),
 ('이', 'VCP'),
 ('ㄴ데요', 'EFN'),
 ('.', 'SF'),
 ('뭐', 'NP'),
 ('.', 'SF'),
 ('2', 'NR'),
 ('먼저', 'MAG'),
 ('미안', 'NNG'),
 ('하', 'XSV'),
 ('고', 'ECE'),
 ('하', 'VV'),
 ('어', 'ECS'),
 ('보', 'VXV'),
 ('는', 'ETD'),
 ('것', 'NNB'),
 ('이', 'JKS'),
 ('어', 'VV'),
 ('어', 'ECS'),
 ('때', 'NNG'),
 ('이', 'VCP'),
 ('요', 'EFN'),
 ('?', 'SF'),
 ('3', 'NR'),
 ('전', 'NNM'),
 ('언제', 'NP'),
 ('든지', 'JX'),
 ('괜찮', 'VA'),
 ('아요', 'EFN'),
 ('.', 'SF'),
 ('저', 'NP'),
 ('가', 'JKS'),
 ('도와주', 'VV'),
 ('ㄹ게요', 'EFN'),
 ('.', 'SF'),
 ('4', 'NR'),
 ('우선', 'MAG'),
 ('박물관', 'NNG'),
 ('부터', 'JX'),
 ('들르', 'VV'),
 ('어', 'ECS'),
 ('보', 'VXV'),
 ('세요', 'EFN'),
 ('.', 'SF'),
 ('...', 'SE'),
 ('63', 'NR'),
 ('NaN', 'OL'),
 ('64', 'NR'),
 ('NaN', 'OL'),
 ('65', 'NR'),
 ('NaN', 'OL'),
 ('66', 'NR'),
 ('NaN', 'OL'),
 ('67', 'NR'),
 ('NaN', 'OL'),
 ('Name', 'OL'),
 (':', 'SP'),
 ('answer', 'OL'),
 (',', 'SP'),
 ('Length', 'OL'),
 (':', 'SP'),
 ('68', 'NR'),
 (',', 'SP'),
 ('dtype', 'OL'),
 (':', 'SP'),
 ('object', 'OL')]

In [51]:
pprint(kkma.sentences(str(df_topik['answer'][11])))

['응. 드디어 오늘 기다리던 첫 월급을 받았거든.']

In [52]:
pprint(kkma.pos(str(df_topik['answer'][11])))

[('응', 'UN'),
 ('.', 'SF'),
 ('드디어', 'MAG'),
 ('오늘', 'NNG'),
 ('기다리', 'VV'),
 ('더', 'EPT'),
 ('ㄴ', 'ETD'),
 ('첫', 'MDT'),
 ('월급', 'NNG'),
 ('을', 'JKO'),
 ('받', 'VV'),
 ('았', 'EPT'),
 ('거든', 'EFN'),
 ('.', 'SF')]

In [48]:
pprint(hannanum.pos(str(df_topik['answer'][1])))

[('다시', 'M'),
 ('만나', 'P'),
 ('ㄹ', 'E'),
 ('수', 'N'),
 ('있읗', 'N'),
 ('텐데요', 'N'),
 ('.', 'S'),
 ('뭐', 'I'),
 ('.', 'S')]

In [49]:
pprint(komoran.pos(str(df_topik['answer'][1])))

[('다시', 'MAG'),
 ('만나', 'VV'),
 ('ㄹ', 'ETM'),
 ('수', 'NNB'),
 ('있읗', 'NA'),
 ('텐', 'NNG'),
 ('데', 'NNB'),
 ('요', 'JX'),
 ('.', 'SF'),
 ('뭐', 'IC'),
 ('.', 'SF')]

In [50]:
pprint(kkma.sentences(str(df_topik['answer'][1])))

['다시 만날 수 있읗 텐데요.', '뭐.']

## TOPIK VOCABULARY ANALAZING

In [14]:
df_voca = pd.read_csv("kr_vocab.csv")
df_voca.head(10)

,단어,품사,영어,스페인어,예문
0,검사,명사,examination,prueba,어디가 아픈지 검사를 해봅시다.
1,구매,명사,purchase,adiquisición,요즘은 충동적으로 구매를 하는 경우가 많다.
2,나타나다,동사,show,surgir,그 기획안을 검토해 보니 문제가 많이 나타났다.
3,늘다,동사,increase,incrementar,처음 동호회 활동을 시작했을 때 한명이던 회원이 지금은 백 명으로 늘었다.
4,맡기다,동사,leave,dejar,나는 도서관에 신분증을 맡기고 책을 빌렸다.
5,싸다,동사,pack,empacar,남은 음식은 싸 드리겠습니다.
6,쏟다,동사,spill,derramar,물을 쏟아서 바닥이 미끄럽다.
7,이용하다,동사,use,usar,버스나 지하철 같은 대중교통을 이용하면 아주 편리하다.
8,젖다,동사,get wet,mojarse,비가 와서 다 젖었다.
9,조사하다,동사,research,investigar,외국인을 대산으로 한국에서 가장 가고 싶은 곳을 조사했다.

In [19]:
pprint(kkma.sentences(str(df_voca['예문'][12])))

['외국인이 가장 좋아하는 음식으로 비빔밥이 1위를 차지했고 불고기가 그 뒤를 이었다.']

In [18]:
pprint(kkma.pos(str(df_voca['예문'][12])))

[('외국인', 'NNG'),
 ('이', 'JKS'),
 ('가장', 'MAG'),
 ('좋아하', 'VV'),
 ('는', 'ETD'),
 ('음식', 'NNG'),
 ('으로', 'JKM'),
 ('비빔밥', 'NNG'),
 ('이', 'JKS'),
 ('1', 'NR'),
 ('위', 'NNM'),
 ('를', 'JKO'),
 ('차지', 'NNG'),
 ('하', 'XSV'),
 ('었', 'EPT'),
 ('고', 'ECE'),
 ('불고기', 'NNG'),
 ('가', 'JKS'),
 ('그', 'MDT'),
 ('뒤', 'NNG'),
 ('를', 'JKO'),
 ('잇', 'VV'),
 ('었', 'EPT'),
 ('다', 'EFN'),
 ('.', 'SF')]

In [89]:
##i = 1
lista = []



for i in range(len(df_voca)):
    a = kkma.pos(str(df_voca['예문'][i]))
   ## pprint(a)
   ## type( a  )
    for item in a:
        lista.append(item)
        print(item)

('어디', 'NP')
('가', 'JKS')
('아프', 'VA')
('ㄴ지', 'ECD')
('검사', 'NNG')
('를', 'JKO')
('해보', 'VV')
('ㅂ시다', 'EFA')
('.', 'SF')
('요즘', 'NNG')
('은', 'JX')
('충동적', 'NNG')
('으로', 'JKM')
('구매', 'NNG')
('를', 'JKO')
('하', 'VV')
('는', 'ETD')
('경우', 'NNG')
('가', 'JKS')
('많', 'VA')
('다', 'EFN')
('.', 'SF')
('그', 'MDT')
('기획', 'NNG')
('안', 'NNG')
('을', 'JKO')
('검토', 'NNG')
('하', 'XSV')
('어', 'ECS')
('보', 'VXV')
('니', 'ECD')
('문제', 'NNG')
('가', 'JKS')
('많이', 'MAG')
('나타나', 'VV')
('었', 'EPT')
('다', 'EFN')
('.', 'SF')
('처음', 'NNG')
('동호회', 'NNG')
('활동', 'NNG')
('을', 'JKO')
('시작하', 'VV')
('었', 'EPT')
('을', 'ETD')
('때', 'NNG')
('한명', 'NNG')
('이', 'JKS')
('덜', 'VV')
('ㄴ', 'ETD')
('회원', 'NNG')
('이', 'JKS')
('지금', 'NNG')
('은', 'JX')
('백', 'NR')
('명', 'NNM')
('으로', 'JKM')
('늘', 'VV')
('었', 'EPT')
('다', 'EFN')
('.', 'SF')
('나', 'NP')
('는', 'JX')
('도서관', 'NNG')
('에', 'JKM')
('신분증', 'NNG')
('을', 'JKO')
('맡기', 'VV')
('고', 'ECE')
('책', 'NNG')
('을', 'JKO')
('빌리', 'VV')
('었', 'EPT')
('다', 'EFN')
('.', 'SF')
('남', 'VV')
('은', 'ETD')
('음식', 'NNG')
('은', 'JX')
('싸', 'VV')
('아', 'ECS')
('드리', 'VXV')
('겠', 'EPT')
('습니다', 'EFN')
('.', 'SF')
('물', 'NNG')
('을', 'JKO')
('쏟', 'VV')
('아서', 'ECD')
('바닥', 'NNG')
('이', 'JKS')
('미끄럽', 'VA')
('다', 'EFN')
('.', 'SF')
('버스', 'NNG')
('나', 'JC')
('지하철', 'NNG')
('같', 'VA')
('은', 'ETD')
('대중교통', 'NNG')
('을', 'JKO')
('이용', 'NNG')
('하', 'XSV')
('면', 'ECE')
('아주', 'MAG')
('편리', 'NNG')
('하', 'XSA')
('다', 'EFN')
('.', 'SF')
('비가', 'NNG')
('오', 'VV')
('아서', 'ECD')
('다', 'MAG')
('젖', 'VV')
('었', 'EPT')
('다', 'EFN')
('.', 'SF')
('외국인', 'NNG')
('을', 'JKO')
('대산', 'NNG')
('으로', 'JKM')
('한국', 'NNG')
('에서', 'JKM')
('가장', 'MAG')
('가', 'VV')
('고', 'ECE')
('싶', 'VXA')
('은', 'ETD')
('곳', 'NNG')
('을', 'JKO')
('조사', 'NNG')
('하', 'XSV')
('었', 'EPT')
('다', 'EFN')
('.', 'SF')
('농촌', 'NNG')
('인구', 'NNG')
('가', 'JKS')
('계속', 'NNG')
('즐', 'MAG')
('어', 'VV')
('어', 'ECS')
('들', 'VV')
('고', 'ECE')
('있', 'VXV')
('다', 'EFN')
('.', 'SF')
('밤', 'NNG')
('이', 'JKC')
('되', 'VV')
('자', 'ECE')
('가게', 'NNG')
('에', 'JKM')
('하나', 'NR')
('둘', 'NR')
('불', 'NNG')
('이', 'JKS')
('켜지', 'VV')
('었', 'EPT')
('다', 'EFN')
('.', 'SF')
('외국인', 'NNG')
('이', 'JKS')
('가장', 'MAG')
('좋아하', 'VV')
('는', 'ETD')
('음식', 'NNG')
('으로', 'JKM')
('비빔밥', 'NNG')
('이', 'JKS')
('1', 'NR')
('위', 'NNM')
('를', 'JKO')
('차지', 'NNG')
('하', 'XSV')
('었', 'EPT')
('고', 'ECE')
('불고기', 'NNG')
('가', 'JKS')
('그', 'MDT')
('뒤', 'NNG')
('를', 'JKO')
('잇', 'VV')
('었', 'EPT')
('다', 'EFN')
('.', 'SF')

In [90]:
df = pd.DataFrame(lista, columns =['word', 'tag'])
df.head(15)

   word  tag
0    어디   NP
1     가  JKS
2    아프   VA
3    ㄴ지  ECD
4    검사  NNG
5     를  JKO
6    해보   VV
7   ㅂ시다  EFA
8     .   SF
9    요즘  NNG
10    은   JX
11  충동적  NNG
12   으로  JKM
13   구매  NNG
14    를  JKO

In [91]:
df.tail(15)

    word  tag
171    위  NNM
172    를  JKO
173   차지  NNG
174    하  XSV
175    었  EPT
176    고  ECE
177  불고기  NNG
178    가  JKS
179    그  MDT
180    뒤  NNG
181    를  JKO
182    잇   VV
183    었  EPT
184    다  EFN
185    .   SF

In [103]:
df.loc[df['tag'] == 'VA']

   word tag
2    아프  VA
19    많  VA
91  미끄럽  VA
97    같  VA

In [101]:
df.loc[df['tag'].isin(['VA', 'VV'])]

    word tag
2     아프  VA
6     해보  VV
15     하  VV
19     많  VA
34   나타나  VV
42   시작하  VV
48     덜  VV
57     늘  VV
67    맡기  VV
71    빌리  VV
75     남  VV
79     싸  VV
87     쏟  VV
91   미끄럽  VA
97     같  VA
110    오  VV
113    젖  VV
124    가  VV
140    어  VV
142    들  VV
149    되  VV
157   켜지  VV
164  좋아하  VV
182    잇  VV